body {
	margin: 0px;
}

header {
	background: #eee;
	height: 100px;
}

header img {
	width: 134px;
	margin-top: 20px;
}

header ul {
	list-style-type: none;
	display: inline-block;
}

.green-text {
	color: green;
}

header ul li {
	display: inline-block;
}

.main-content {
	height: 400px;
}

.container {
	width: 960px;
	margin: 0 auto;
}